:root {
  --white: #ffffff;
  --light-grey: #f0f0f0;
  --grey: #777777;
  --dark-grey: #999999;
  --black: #222222;

  --blur-blue: #5988c9;
  --light-blue: #2681ff;
  --blue: #1c69d4;
  --dark-blue: #0055cb;

  @font-face {
    font-family: "GothamPro-Light";
    src: url("../../shared/assets/fonts/GothamPro-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "GothamPro-Regular";
    src: url("../../shared/assets/fonts/GothamPro-Regular.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "GothamPro-Bold";
    src: url("../../shared/assets/fonts/GothamPro-Bold.ttf") format("truetype");
  }
}
