.button-primary {
  transition: text-shadow 0.3s;
  @media (hover) {
    &:hover {
      text-shadow:
        0 0 0.95px var(--black),
        0 0 0.95px var(--black);
    }
  }
}
.button-secondary {
  background-color: var(--blue);
  @media (hover) {
    &:hover {
      background-color: var(--light-blue);
    }
  }
  &:active {
    background-color: var(--dark-blue);
  }
}
