.link-primary {
  transition: text-shadow 0.3s;
  & > svg {
    transition: all 0.5s;
    fill: var(--dark-grey);
  }
  &.link-active {
    text-shadow:
      0 0 0.95px var(--black),
      0 0 0.95px var(--black);
    & > svg {
      fill: var(--black);
    }
    cursor: default;
  }
  @media (hover) {
    &:hover {
      text-shadow:
        0 0 0.95px var(--black),
        0 0 0.95px var(--black);
      & > svg {
        fill: var(--black);
      }
    }
  }
}
.link-secondary {
  border-color: var(--white) ;
  color: var(--white);
  @media (hover) {
    &:hover {
      border-color: var(--black) ;
      color: var(--black)
    }
  }
}
